streamlit==1.35.0
streamlit-option-menu==0.3.12
streamlit-extras==0.4.3

numpy==1.26.4
pandas==2.2.2

PyPDF2==3.0.1

langchain==0.1.13
openai==1.14.1
tiktoken==0.5.2

faiss-cpu==1.7.4
# selenium==4.21.0